html {
    --bg: #fcfcfc;
    --bg-panel: #ebebeb;
    --color-text: #333333;
    --hover-bg: #ccc;
    --bg-accordion: #bdbbbb;
    --color-textaccordion: #333333;
}

html[data-theme='dark'] {
    --bg: #333030;
    --bg-panel: #434343;
    --color-text: #333333;
    --color-textaccordion: #e3e3e3;
    --bg-accordion: #bdbbbb;
    /* --color-textaccordion: #333333; */
}

body {
    background-color: var(--bg);
}

.container {
    background-color: var(--bg-panel);
    padding: 2em 3em;
    border-radius: 5em;
    margin-top: 3em;
}

h1{
    text-align: center;
    color: var(--color-textaccordion)
}

p {
    color: var(--color-text);
}

/* .photo-profile {
    height: 20px;
    width: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
} */


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.label-checkbox {
    font-size: 1.5em;
    display: inline-block;
    transform: translateY(20%);
}


html.transition,
html.transition *,
html.transition * :before,
html.transition * :after {
    transition: all 750ms !important;
    transition-delay: 0 !important;
}

.ui-accordion {
    font-size: 0.9em;
}

.panel {
    font-size: 0.7em;
}

.text-accordion {
    color: var(--color-textaccordion);
}

.ui-accordion-header {
    color: var(--color-textaccordion);
    background: var(--bg-accordion);
}

.accordion{
    padding-bottom: 10px;
}
.accordion__button{
    display: block;
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    background:cornflowerblue;
    color: white;
    text-align: left;
    transition: background 0.2s;    
}

.accordion__button::after{
    content: '\25be';
    float: right;
    transform: scale(1.5);
}

.accordion__button--active { background: #555555 }
.accordion__button--active::after { content: '\25b4'}  

.accordion__content {
    overflow: hidden;
    max-height: 0;
    transition: max_height 0.2s;

    padding: 0 15px;
    font-family: sans-serif;
    background: #eeeeee;

}