{% load static %}
<!DOCTYPE html>

<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/s7.css' %}">
    <title>Nyoba Accordion</title>
</head>
<body>
    <h1>Patil's Profile</h1>
    <div class="container">
        <label class="switch">
                <input type="checkbox" name='theme'>
                <span class="slider"></span>
        </label>
        <div class="text-center">
            <img src="{% static 'image/20190202_190733.jpg' %}" class="rounded" alt="photo">
        </div>
    </div>
   
    <div class="container">
        <div class="accordion">
            <button type="button" class="accordion__button">Activity</button>
            <div class="accordion__content">
                <p>
                    - League Manager PERAK 2020 <br>
                    - Staff of Equipment Open House Fasilkom 2019 <br>
                </p>
            </div>
        </div>
        <div class="accordion">
            <button type="button" class="accordion__button">Organizations</button>
            <div class="accordion__content">
                <p>
                    No organization
                </p>
            </div>
        </div>
        <div class="accordion">
                <button type="button" class="accordion__button">Achievements</button>
                <div class="accordion__content">
                    <p>
                        
                    </p>
                </div>
         </div>
    </div>
    <script src="{% static 'js/index.js' %}" type="text/javascript"></script>
    
</body>
</html>
